CSS
body {
  font-family: sans-serif;
  margin: auto;
  padding: 0;
  margin: 0;
  background: black;

}
header {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding: 0;
  margin: 0 ;
}
menu {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding-top: 10px;
  padding-left: 0px;
  margin: 0px;
}
#general {
  border: 15px solid green;
  padding: 0px 15px;
  margin: 0px;
  text-align: center;
  background-color: black;
  color: white;
  height: 3200px;
  max-width: 700px;
}
.titulo {
  padding-top: 0;
  font-size: 30px;
}
.ptitulo{
  font-size: 20px;
}

h1, h2 {
  text-align: left;
  margin-bottom: 20px;

  }

p {
  line-height: 1.5;
}

ul, ol {
    padding: 0;
    margin: 10px;
    align-items: left;
    text-align: left;
}

li {
  margin-bottom: 10px;
}

a {
  color: rgb(0, 213, 255);
  text-decoration: none;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
  }

  nav li {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
    display: inline-block;
    text-align: left;    
  }
  
  nav a:hover {
    background-color: #e0e0e0;
    color: black;
  }

section {
  margin-bottom: 50px;
}

section h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


div h2 {
  text-align: center;
}

.form {
  margin-bottom: 100px;
  border: 2px solid rgb(0, 213, 255);
  color: rgb(0, 213, 255);
  text-decoration: none;
}

.imagen {
  width: 400px;
  height: 400px;
}
