.imagen {
    width: 400px;
    height: 400px;
}

CSS
body {
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  background-color: black;
}
#general {
  width: 300px;
  border: 15px solid green;
  padding: 12px;
  margin: 2
  px;
  text-align: center;
  background-color: black;
  color: white
}
h1, h2 {
  text-align: left;
  margin-bottom: 20px;
  
}

p {
  line-height: 1.5;
}

ul, ol {
    padding: 0;
    margin: 10px;
    align-items: left;
    text-align: left;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

nav {
    display: left;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 10px 20px;
  }
  
  nav a {
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #e0e0e0;
  }

  section {
    margin-bottom: 50px;
  }
  
  section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
