

CSS
body {
  font-family: sans-serif;
  margin: auto;
  padding: 0;
  margin: 0;
  background: black;
}
header {
  padding: 0;
  margin: 0 ;
}
#general {
  border: 15px solid green;
  padding: 0px 15px;
  margin: 0px;
  text-align: center;
  background-color: black;
  color: white
}
.titulo {
  padding-top: 0;
  margin-top: -40px;
}
h1, h2 {
  text-align: left;
  margin-bottom: 20px;
  }

p {
  line-height: 1.5;
}

ul, ol {
    padding: 0;
    margin: 10px;
    align-items: left;
    text-align: left;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

nav {
    display: left;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 10px 20px;
  }

  nav li {
    text-decoration: none;
    font-size: 10px;
    padding: 0px 10px;
    display: inline-block;
    text-align: left;    
  }
  
  nav a:hover {
    background-color: #e0e0e0;
    color: black;
  }

section {
  margin-bottom: 50px;
}

section h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


div h2 {
  text-align: center;
}
.imagen {
  width: 400px;
  height: 400px;
}